@charset "ISO-8859-1";
#searchId {
	width: 60%;
	margin-left: 10%;
	padding: 10px 10px;
}

.button {
	background-color: green;
	border: none;
	color: #fff;
	padding: 12px 12px;
	text-decoration: none;
	cursor: pointer;
	align: center
}

table {
	width: 100%;
	margin-top: 20px;
}

th, td {
	text-align: left;
	padding: 8px;
	padding-left:30px;
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

button {
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity: 1;
}

.modal-header {
	background: #F7941E;
	color: #fff;
}

.required:after {
	content: "*";
	color: red;
}
.alert alert-success alert-dismissible fade show {
margin-right: 350px;
}